[submodule "libsodium"]
	path = libsodium
	url = git@github.com:jedisct1/libsodium.git
[submodule "libzmq"]
	path = libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "czmq"]
	path = czmq
	url = https://github.com/zeromq/czmq.git
[submodule "cppzmq"]
	path = cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "zguide"]
	path = zguide
	url = https://github.com/imatix/zguide.git
